<p style="color: green"><%= notice %></p>

<div>
  <%= link_to "Edit this item", edit_item_path(@item), class: "btn btn-dark"%>
  <%= link_to "Back to items", items_path, class: "btn btn-secondary"%>
  </br>
  </br>
  <%= render @item %>
  </br>
  <%= button_to "Destroy this item", @item, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class: "btn btn-danger"%>
</div>
