<!DOCTYPE html>
<html>
  <head>
    <title>MiniTimly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <div class="container-fluid">
        <%= link_to "MiniTimly", root_path, class:"navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <%= link_to "Items", items_path, class: "nav-link dropdown-toggle", 'id':"navbarDropdown", 'role':"button", 'data-bs-toggle':"dropdown", 'aria-expanded':"false" %>
              <ul class="dropdown-menu" aria-labelledby="dropdown-menu dropdown-menu-dark">
                <li><%= link_to "Show All", items_path, class:"dropdown-item" %></li>
                <li><%= link_to "New", new_item_path, class:"dropdown-item" %></li>
                <!--<li><hr class="dropdown-divider"></li>-->
              </ul>
            </li>
            <li class="nav-item">
              <% if user_signed_in? %>
              <%= link_to 'My Profile', '/users/' + current_user.id.to_s + '/profile' , class: "nav-link" %>
              <% else %>
              <%= link_to 'Sign in', new_user_session_path, class: "nav-link" %>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %>
            </li>
          </ul>
          <!--
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          -->
        </div>
      </div>
    </nav>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div style="margin: 20px">
      <%= yield %>
    </div>
  </body>
</html>
